.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: flex;
  background-image: url('https://picsum.photos/1920/1080?random=1');
  height: 100%;
  width: 100%;
  position: relative;
  flex-direction: column;
}
.card{
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  overflow: hidden;
  max-width: 500px;
}
.card-footer{
  display: flex;
  padding:12px 12px;
  padding-top: 0px;;
}
.card-body{
  padding:12px 24px ;
}
.form-group{
  position: relative;
}
.heading{
  font-size: 35px;
}
.heading-small{
  font-size: 25px;
}
.heading-xs{
  font-size: 22px;
}
.heading-medium{
  font-size: 27px;
}